/*body{
    background-image: url("../images/krakenme.png");
    background-position-y: center;
    background-repeat: no-repeat;
    
    background-color: #e4dad0
}*/

.top20 {margin-top:20px;}
.top30 {margin-top:30px;}
